<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://goalsweb20170519023933.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>goalsweb20170519023933.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GoalsWeb20170519023933</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GoalsWeb20170519023933</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="mochahost" Order="1" Enabled="False">
          <Destination Path="server=204.93.172.30;user id=oblivius_theok;password=mysql123;persistsecurityinfo=True;database=oblivius_mysql;port=3306" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GoalsWeb.Models.mochahost, GoalsWeb" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>False</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mochahost-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoalsDB.csdl|res://*/Models.GoalsDB.ssdl|res://*/Models.GoalsDB.msl;provider=MySql.Data.MySqlClient;provider connection string="server=204.93.172.30;user id=oblivius_theok;password=mysql123;persistsecurityinfo=True;database=oblivius_mysql;port=3306"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>